/*------MAIN------*/


.titlePerfil{
        font-family:'Barlow', sans-serif;
        color: rgb(138,119,126);
        font-weight: 700;
        line-height: 0.4;
        margin-block-start: 0.83em;
        text-align: center;
        &:hover{
            color: rgb(50, 104, 89);
        }
}
.exteriorDiv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
}
    .itemGaleria{
        position: relative;
        .imgExterior{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
        .itemGaleria:nth-child(4) {
            grid-column-start: span 2;
        }
        
        .itemGaleria:nth-child(5) {
            grid-row-start: span 2;
        }
        
        .itemGaleria:nth-child(9) {
            grid-column-start: span 2;
        }
    


