/*-------FOOTER-------*/

footer {
    .contacto{
        background-color: rgb(193,217,212);
        display: flex;
        justify-content: center;
        height: 100px;
        p{
            display: flex;
            justify-content: center;
            position: relative;
            top: 20px;
            left: 70px;
        }
        div{
            .logos{
                width: 40px;
                height: 40px;
                position: relative;
                top: 50px;
                right: 80px;
            }
        }
    }
}