/*---------HEADER--------*/

header{
    background-color: rgb(238,238,238);
    position: sticky;
    top:0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    nav{
        padding-left: 20px;
        font-size: 40px;
        font-family:'Barlow', sans-serif; 
        font-weight: 700;
        color: rgb(53,86,77);
        div{
            .navbar-brand{
                padding-left: 20px;
                font-size: 40px;
                font-family:'Barlow', sans-serif; 
                font-weight: 700;
                color: rgb(51, 105, 91);
                &:hover{
                    color: rgb(87,133,123);
                }
            }
            button{
                margin-right:5px;
            }
            div{
                ul{
                    list-style: none;
                    font-size: 18px;
                    padding-left: 40px;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .nav-link{
                        text-decoration: none;
                        color: rgb(138,119,126);
                        font-family: 'Nunito', sans-serif;
                        font-size: 20px;
                        font-weight: 700;
                        margin: 10px 15px 10px 15px;
                    }
                }
            }
        }
    }
}