/*------INDEX------*/

@media screen and (max-width:597px){
    header{
        flex-direction: column;
    }
}

@media screen and (max-width:597px){
    header nav ul{
        flex-direction: column;
    }
    header nav ul li{
        margin: 5px 15px 5px 15px;
    }
}

@media screen and (max-width:1600px){   
    main .hero .herodiv {
        text-align: center;
        width: 100%;
        height: auto;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    main .hero .herodiv h2 {
        text-align: center;
    }
    .imageContainer{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:675px){   
    main .hero .herodiv h2, .herodiv p {
        margin-left: 15px;
        margin-right: 15px;
    }
}




/**----GALERIA MEDIA QUERIES----*/

@media screen and (max-width:1600px){
    .containerGaleria{
        flex-wrap: wrap;
    }
}


@media screen and (max-width:625px){
    .galeriaDiv{
        text-align: center;
        width: 100%;
        height: auto;
        position: absolute;
        top: 70%;
        left: 60%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-wrap: wrap;
    }
    .galeriaInfo .galeriaDiv h2{
        font-size: 30px;
    }
}


/**-----------CUIDADOS -----------*/
@media screen and (max-width:1200px){
    .imagenCuidados{
        flex-wrap: wrap;
        padding: 15px;
    }
}

@media screen and (max-width:1000px){
    .cuidadosSection{
        width: auto;
        height: auto;
        flex-direction: column;
        border-radius: auto;
        margin-left: 25px;
        margin-right: 25px;
        align-items: center;
    }
    .cuidadosDiv{
        width: auto;
        height: auto;
    }
}

@media screen and (max-width:480px){
    .cuidadosDiv img{
    width: 250px;
    height: 250px;
    padding-top: 20px;
    margin-left: 15px;
    }
}

/**---------------GALERIAS DENTRO DE CUIDADOS CON GRIDS---------*/

@media screen and (max-width:1600px){
    .claseInterior{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 150px;
        padding: 20px;
        grid-gap: 10px
    }
}

/**------------PLANTAS DE INTERIOR MEDIA QUERIES--------*/

@media screen and (max-width: 1600px){
    .claseInterior{
        display: flex;
        flex-wrap: wrap;
    }
}


/** -------------- ACERCA DE NOSOTROS MEDIA QUERIES -------------- */
@media screen and (min-width: 1024px) {
    .exteriorDiv {
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto;
    }
    .itemGaleria:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 2;
    }
    .itemGaleria:nth-child(4) {
    grid-column-start: span 3;
    grid-row-start: span 3;
    }
}

@media screen and (min-width: 768px) {
    .exteriorDiv{
    grid-template-columns: repeat(4, 1fr);
    }
    .itemGaleria:nth-child(3) {
    grid-column-start: span 2;
    }
    .itemGaleria:nth-child(4) {
    grid-column-start: span 3;
    }
    .itemGaleria:nth-child(5) {
    grid-row-start: span 3;
    }
    .itemGaleria:nth-child(9) {
    grid-column-start: span 3;
    }
}



/**----------------CONTACTO MEDIA QUERIES---------------*/

@media screen and (max-width:1500px){
    .titlePerfil h1 p{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:700px){
    .generoTitulo{
        display: flex;
        flex-direction: column;
    }
    input{
        align-items: center;
        width: 280px;
        height: auto;
    }
}



@media screen and (max-width:650px){
    .botonRegister{
        width: 280px;
        height: auto;
    }
}

@media screen and (max-width:584px){
    .formularioDiv{
        max-width: 100%;
    }

    form .userDetails .inputBox{
        margin-bottom: 15px;
        width: 100%;
    }

    form .generoDiv .categoria{
        width: 100%;
        flex-direction: column;
    }

    .formularioDiv form .userDetails{
        max-height: 300px;
        overflow-y: scroll;
    }

    .userDetails::-webkit-scrollbar{
        width: 0;
    }
}

@media screen and (max-width:450px){
    .iframeContacto{
        width: 300px;
        height: auto;
    }
}

