//! VARIABLES


$color-principal: rgb(0, 0, 0);
$color-secundario: rgb(255, 255, 255);

//! LISTAS

$colores:
rgb(87, 133, 123),
rgb(148, 129, 136),
rgb(94, 85, 88),
rgb(196, 182, 180),
rgb(87,133,123),
gray;


$font-size:
12px,
16px,
20px,
40px;

$font-weight:
500,
700,
800,
900;

h1{
    font-size: nth($font-size , 4);
    color: nth($colores , 5);
    font-weight: nth($font-weight , 2);
}

//! EXTENDS

%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

%fuentesDetails {
    font-weight: 700;
    position: relative;
    top: 95px;
    font-size: 32px;
}


//! MIXIN

@mixin flex ($flex, $wrap, $space-between) {
    display: $flex;
    flex-wrap: $wrap;
    justify-content: $space-between;
}

.userDetails, .collapse .navbar .navbar-nav{
    @include flex (flex, wrap, space-between)
}


@mixin bg ($no-repeat, $cover, $center, $fixed,) {
    background-repeat: $no-repeat;
    background-size: $cover;
    background-position: $center;
    background-attachment: $fixed;

}

.galeriaInfo, .plantasExterior, .cactusySuculentas{
    @include bg (no-repeat, cover, center, fixed)
}

